* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.nav_container {
  width: 100%;
  height: 10vh;
  padding: 20px 100px;
  background-color: #735da5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo_container {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}
.logo_container p {
  font-size: 29px;
  color: rgb(24, 3, 3);
  line-height: 53px;
  text-transform: uppercase;
}
.logo_container img {
  width: 65px;
}
.button_container {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 20px;
}
.button_login {
  width: 124px;
  height: 30px;
  background-color: beige;
  border: none;
  color: black;
  font-size: 13px;
  border-radius: 5px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
.button_signup {
  width: 124px;
  height: 30px;
  background-color: #cee6f2;
  border: none;
  color: black;
  font-size: 13px;
  border-radius: 5px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
.button_darkmode {
  cursor: pointer;
  width: 60px;
  height: 30px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  color: #222;
}
.main_container {
  background-color: #d3c5e5;
  width: 100%;
  height: 90vh;
  display: flex;
}
.left_container {
  width: 50%;
  padding: 25px 25px;
}
textarea {
  width: 100%;
  height: 29%;
  background-color: whitesmoke;
  color: black;
  padding: 10px 20px;
  border: 0;
  outline: 0;
}
iframe {
  width: 100%;
  height: 73vh;
  background-color: whitesmoke;
  border: 0;
  outline: 0;
}

.right_container {
  width: 50%;
  padding: 25px 25px;
}
.button_console {
  background-color: blueviolet;
  font-size: 14px;
  width: 120px;
  height: 30px;
  border: none;
  border-radius: 5px;
  color: whitesmoke;
  font-weight: 600;
  cursor: pointer;
}
#console-output {
  width: 100%;
  height: 18vh;
  background-color: whitesmoke;
  border: 0;
  outline: 0;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* dark mode */
.dark-mode {
  color: whitesmoke;
}
.dark-mode .button_darkmode {
  background-color: #222;
  cursor: pointer;
  width: 60px;
  height: 30px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  fill: whitesmoke;
}
.dark-mode .nav_container,
.dark-mode .modal-content ,
.dark-mode .modal-content_signUp{
  background-color: #222;
}

.dark-mode .logo_container p,
.dark-mode .close {
  color: #fefefe;
}

.dark-mode .button_darkmode {
  background-color: whitesmoke;
  cursor: pointer;
}
.dark-mode .button_login,
.dark-mode .modal-content button ,
.dark-mode .modal-content_signUp button{
  background-color: #301934;
  color: whitesmoke;
  border: 1px solid white;
}
.dark-mode .button_signup {
  color: #ece5e5;
  background-color: #301934;
  border: 1px solid white;
}

.dark-mode .main_container {
  background-color: #301934;
}
.dark-mode textarea,
.dark-mode .modal-content input 
.dark-mode .modal-content_signUp input{
  background-color: black;
  color: #fefefe;
}

.dark-mode iframe {
  filter: invert(100%);
}
.dark-mode .modal-content input ,
.dark-mode .modal-content_signUp input {
  border: 1px solid #555;
}

.dark-mode .modal-content button:hover,
dark-mode .modal-content_signUp button:hover {
  background-color: #777;
}
.dark-mode .modal-content label,
.dark-mode .modal-content_signUp label {
  color: #fefefe;
}
.dark-mode #console {
  background-color: black;
  color: whitesmoke;
}

/* console */

.dark-mode .tab_button {
  background-color: #444444;
  color: #ffffff;
}
.dark-mode .tab_button.active {
  background-color: #555555;
  color: #ffffff;
}
.tab_container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  align-items: center;
  gap: 20px;
  margin-top: 22px;
}
.tab_button {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: #eee;
  margin: 0 5px;
  border-radius: 5px;
  font-weight: bold;
  width: 114px;
}
.tab_button.active {
  background-color: #ddd;
}
.tab_content {
  display: none;
}
.tab_content.active {
  display: block;
}
.tab_button img{
  width: 20%;
  height: 20%;
}
#console {
  width: 100%;
  height: 76vh;
  background-color: whitesmoke;
  border: 0;
  outline: 0;
  overflow-y: auto;
  white-space: pre-wrap;
}
/* login form */

.login-form h2 {
  font-size: 27px;
  padding: 10px;
  text-align: center;
}
.modal-content {
  background-color: whitesmoke;
  width: 400px;
  height: 370px;
  border-radius: 10px;
  padding: 16px 13px;
  margin: 13% auto;
}
.input-container {
  padding: 5px;
}
.input-container input {
  background-color: transparent;
  border-width: 0 0 1px;
  width: 310px;
  height: 46px;
  color: black;
}
input::placeholder {
  color: gray;
  font-size: 12px;
  padding-left: 5px;
  font-weight: 600;
}
.login_container.input-container-checkbox input {
  width: 10px;
}
.login_container .input-container-checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}
.login_container .input-container-checkbox .checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.login_container .input-container-checkbox .checkbox label {
  font-weight: 700;
  color: gray;
  font-size: 12px;
}
.login_container .input-container-checkbox a {
  text-decoration: none;
  color: rgb(101, 67, 240);
  font-weight: 700;
  font-size: 12px;
}
.button_loginNow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.login_container button {
  width: 180px;
  height: 38px;
  border-radius: 5px;
  background-color: rgb(101, 67, 240);
  border: none;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
.login_container p {
  text-align: center;
  font-weight: 700;
  color: gray;
  font-size: 12px;
}
.login_container p a {
  text-decoration: none;
  color: rgb(101, 67, 240);
  font-weight: 700;
  font-size: 12px;
}

/* sign up form */
.register-form h2 {
  font-size: 27px;
  padding: 10px;
  text-align: center;
}
.modal-content_signUp {
  background-color: whitesmoke;
  width: 427px;
  height: 500px;
  border-radius: 10px;
  padding: 20px 20px;
  margin: 10% auto;
}
.signUp_container .input-container {
  padding: 5px;
}
.signUp_container .input-container input {
  background-color: transparent;
  border-width: 0 0 1px;
  width: 310px;
  height: 46px;
  color: black;
}
input::placeholder {
  color: gray;
  font-size: 12px;
  padding-left: 5px;
  font-weight: 600;
}
.signUp_container .input-container-checkbox input {
  width: 10px;
}
.signUp_container .input-container-checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}
.signUp_container .input-container-checkbox .checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.signUp_container .input-container-checkbox .checkbox label {
  font-weight: 700;
  color: gray;
  font-size: 12px;
}
.signUp_container .input-container-checkbox a {
  text-decoration: none;
  color: rgb(101, 67, 240);
  font-weight: 700;
  font-size: 12px;
}

.signUp_container button {
  width: 336px;
  height: 38px;
  border-radius: 5px;
  background-color: rgb(101, 67, 240);
  margin: 10px 18px;
  border: none;
  color: white;
  font-weight: 700;
}
.signUp_container p {
  text-align: center;
  font-weight: 700;
  color: gray;
  font-size: 12px;
}
.signUp_container p a {
  text-decoration: none;
  color: rgb(101, 67, 240);
  font-weight: 700;
  font-size: 12px;
}

.signUp_container .input-container {
  padding: 5px;
}
.signUp_container input {
  background-color: transparent;
  border-width: 0 0 1px;
  width: 310px;
  height: 46px;
  color: white;
}
input::placeholder {
  color: gray;
  font-size: 12px;
  padding-left: 5px;
  font-weight: 600;
}
.signUp_container .input-container-checkbox input {
  width: 10px;
}
.signUp_container .input-container-checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.signUp_container .input-container-checkbox label {
  font-weight: 700;
  color: gray;
  font-size: 12px;
}
.button_register_now {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.signUp_container button {
  width: 180px;
  height: 38px;
  border-radius: 5px;
  background-color: rgb(101, 67, 240);
  margin: 10px 18px;
  border: none;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
.signUp_container p a {
  text-decoration: none;
  color: rgb(101, 67, 240);
  font-weight: 700;
  font-size: 12px;
}
.icon{
  display: none;
}

@media(max-width:650px){
  .tab_button {
    padding: 10px 0px;
  }
  .menu_icon{
    padding-left:10px
  }
  .menu_icon .icon{
    display: block;
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
  }
  .logo_container p{
    font-size: 16px;
    line-height: 25px;
  }
  .button_login{
    display: none;
  }
  .button_signup{
    display: none;
  }
  .main_container{
    flex-direction: column;
    height: 170vh;
    gap: 170px;

  }
  .left_container{
    width: 100%;
  }
  textarea{
    height: 50%;
  }
  iframe{
    width: 330px;
    max-width: 550px;
  }
  #console{
    width: 330px;
    max-width: 550px;

  }
  .nav_container{
    padding: 20px 50px;
  }

}